// Colors
$white-tp: rgba(255,255,255,0.9);
$neutral: #DDDDDD;
$blue-1: #137eb0;
$blue-1-tp: rgba(19,126,176,0.6);
$medium-gray: #BBBBBB;
$dark-gray: #414042;
$black-gray: #323133;
$off-black: #1A1A1A;
$yellow: #FFED00;



body {
  padding: 0;
  margin: 0;
  color: $off-black;
  font-family: playfair_regular;
  line-height: 1.5;
}

h1 {
  font-family: montserratbold;
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 9px #000000;
}

h2 {
  font-family: montserratbold;
  font-size: 42px;
  text-transform: uppercase;
  color: $dark-gray;
}

h4 {
  font-family: montserratregular;
  font-size: 16px;
  text-transform: uppercase;
  color: $dark-gray;
}

// General Purpose
.em {
  color: $yellow;
}
.blue-1 {
  background-color: $blue-1;
}
.blue-1-tp {
  background-color: $blue-1-tp;
}


.header {
  color: $dark-gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: $white-tp;
  padding: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .logo-main {
    width: 300px;
    height:auto;
    cursor: pointer;
  }

  .menu-item {
    font-family: montserratregular;
    font-size: 16px;
    margin: 0 15px;
    padding: 5px;
    min-width: 100px;
    text-align: center;
  }

  .link {
    position: relative;
    cursor: pointer;
  }
  .link::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $dark-gray;
    content: '';
    transition: top 0.25s;
  }
  .link:hover::before {
    top: 100%;
    opacity: 1;
    height: 2px;
  }
}

.splash-fullscreen-fixed {
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.splash-fullscreen {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
}

// Vertical Centered Container
.vc-container {
  img.bg, video.bg {
    height: inherit;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left:50%;
    top:0;
    margin:auto;
    transform: translate(-50%, 0);
    z-index: -1;
  }

  .vc-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    max-width: 1000px;
    max-height: 90%;
    overflow: hidden;
    z-index: 5;
  }

  .vc-blurb {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 60%;
    max-height: 80%;
    overflow: hidden;
    padding: 50px;
    background-color: $medium-gray;
  }
}
.vc-container::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

// Sections Containers for content
.section {
  position: relative;
  height: 650px;
  text-align: center;
  background-color: #FFFFFF;
}
.skewed-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewY(3deg);
  z-index: 2;
}
.skewed-bg-reverse {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: bottom right;
  z-index: 2;
}

// Generic fallback
.column {
  display: inline-block;
  max-width: 40%;
  padding: 0 3%;
}
// Intended behavior
.column-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 100%;

  .column {
    padding: 10px 30px;
    margin: 0 20px;
    flex-basis: 10px;
    flex-grow: 1;
    text-align: left;
  }
  .column.center {
    text-align: center;
  }
}

// Content
.services-icon {
  width: 130px;
  height: auto;
}


.footer {
  height: 150px;
  background-color: $dark-gray;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  padding: 20px 20%;
  font-family: montserratultra_light;

  h4 {
    color: #FFFFFF;
  }

  .column {
    text-align: left;
    display: inline-block;
    width: 25%;
    padding: 0 3%;
  }
  .column:nth-of-type(n+2) {
    text-align: center;
  }
  .column:last-of-type {
    text-align: right;
  }
}
.footer-banner {
  background-color: $black-gray;
  color: white;
  text-align: right;
  font-family: montserratultra_light;
  font-size: 12px;
  padding: 5px 10px;
}
