// Colors
$white-tp-light: rgba(255,255,255,0.4);
$white-tp-dark: rgba(255,255,255,0.9);
$neutral: #DDDDDD;
$blue-1: #71B1CF;
$blue-1-tp: rgba(19,126,176,0.6);
$medium-gray: #BBBBBB;
$dark-gray: #414042;
$black-gray: #323133;
$off-black: #1A1A1A;
$yellow: #FFED00;

$section-height: 650px;
$footer-height: 260px;
$footer-body-height: 180px;

@mixin transition($t, $time) {
  -webkit-transition: $t $time;
  -moz-transition: $t $time;
  -ms-transition: $t $time;
  -o-transition: $t $time;
  transition: $t $time;
}


body {
  padding: 0;
  margin: 0;
  color: $off-black;
  font-family: 'Noto Serif', serif;
  line-height: 1.5;
  font-size: 16px;
}

h1 {
  font-family: montserratbold, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 9px #000000;
}

h2 {
  font-family: montserratbold, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: $dark-gray;
}

h4 {
  font-family: montserratregular, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: $dark-gray;
}

p {
  text-align: justify;
}

// General Purpose
.em {
  color: $yellow;
}
.blue-1 {
  background-color: $blue-1;
}
.blue-1-tp {
  background-color: $blue-1-tp;
}



.header {
  color: $dark-gray;
  background-color: $white-tp-light;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .menu-item {
    display: none;
    padding: 5px;
  }

  .menu-item.logo-main {
    display: inline-block;
    width: 220px;
    height:auto;
    cursor: pointer;
    @include transition(all, 0.5s);
  }
}

.header.mini {
  font-size: 14px;
  background-color: $white-tp-dark;
  padding: 4px 0;
  @include transition(all, 0.5s);

  .menu-item {
    display: none;
    padding: 5px;
  }

  .menu-item.logo-main {
    display: inline-block;
    width: 150px;
  }
}

.splash-fullscreen-fixed {
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
}
.splash-fullscreen-fixed.vc-container::before {
  height: 100%;
}

.splash-fullscreen {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
}
.splash-fullscreen.vc-container::before {
  height: 100%;
}

// Vertical Centered Container
.vc-container {

  img.bg, video.bg {
    height: inherit;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left:50%;
    top:0;
    margin:auto;
    transform: translate(-50%, 0);
    z-index: -1;
  }

  .vc-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: 50px 0;
    z-index: 5;

    h2, h3 {
      margin-top: 0;
    }
  }

  .vc-blurb {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 60%;
    max-height: 80%;
    overflow: hidden;
    padding: 50px;
    background-color: $medium-gray;

    h2, h3 {
      margin-top: 0;
    }
  }
}
.vc-container::before {
  content: '';
  display: inline-block;
  height: $section-height;
  vertical-align: middle;
}

// Sections Containers for content
.section {
  position: relative;
  min-height: $section-height;
  text-align: center;
  background-color: #FFFFFF;
}
.skewed-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewY(3deg);
  z-index: 2;
}
.skewed-bg-reverse {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: bottom right;
  z-index: 2;
}

// Generic fallback
.column {
  display: inline-block;
  max-width: 40%;
  padding: 0 3%;
}
// Intended behavior
.column-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 100%;

  .column {
    padding: 10px;
    flex-basis: 10px;
    flex-grow: 1;
    text-align: left;
    max-width: 100%;
  }
  .column.center {
    text-align: center;
  }
}

// Content
.services-icon {
  width: 130px;
  height: auto;
}

.footer {
  background-color: $dark-gray;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  overflow: hidden;

  .footer-spacer {
    height: $footer-height;
  }
  .footer-body {
    position: fixed;
    bottom: 60px;
    height: $footer-body-height;
    width: 90%;
    padding: 0 5%;

    h4 {
      color: #FFFFFF;
    }

    .column-container {
      flex-direction: row;
      .column:nth-of-type(n+2) {
        display: none;
        text-align: center;
      }
      .column:last-of-type {
        display: inline-block;
        text-align: right;
      }
    }
  }
}

.footer-banner {
  width: 100%;
  background-color: $black-gray;
  color: white;
  text-align: right;
  font-family: montserratultra_light, sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 0;

  .content {
    padding: 5px 10px;
  }
}



// Tablet and bigger
// --------------------------------------------------------------------------------------------------------------
@media (min-width: 720px) {

  body {
    font-size: 18px;
  }

  h1{
    font-size: 42px;
  }
  h2 {
    font-size: 36px;
  }

  .header {
    position: fixed;

    .menu-item.logo-main {
      width: 300px;
    }
  }

  .header.mini {
    padding: 10px 0;

    .menu-item.logo-main {
      width: 200px;
    }
  }



  .column-container {
    flex-direction: row;
    align-items: flex-start;

    .column {
      margin: 0 20px;
      padding: 10px;
    }
  }

  .footer {
    .footer-body {
      width: 86%;
      padding: 0 7%;

      .column-container .column:nth-of-type(n+2) {
        display: inline-block;
      }
    }
  }
}

// Laptops and bigger
// --------------------------------------------------------------------------------------------------------------
@media (min-width: 1000px) {

  h1{
    font-size: 48px;
  }
  h2 {
    font-size: 42px;
  }

  .header {
    .menu-item.logo-main {
      width: 400px;
    }
  }
  .header, .header.mini {
    .menu-item {
      display: inline;
      font-family: montserratregular;
      font-size: 16px;
      margin: 0 15px;
      min-width: 100px;
      text-align: center;
    }

    .link {
      position: relative;
      cursor: pointer;
    }
    .link::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $dark-gray;
      content: '';
      transition: top 0.25s;
    }
    .link:hover::before {
      top: 100%;
      opacity: 1;
      height: 2px;
    }
  }
  .header.mini {
    .link {
      font-size: 0.9em;
    }
  }

  .footer {
    .footer-body {
      width: 80%;
      padding: 0 10%;
    }
  }
}
