// Colors
$neutral: #DDDDDD;

body {
  padding: 0;
  margin: 0;
}

.splash-fullscreen-fixed {
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.splash-fullscreen {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
}


.vc-container {
  overflow: hidden;

  img.bg, video.bg {
    height: inherit;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left:50%;
    top:0;
    margin:auto;
    transform: translate(-50%, 0);
    z-index: -1;
  }

  .vc-content {
    display: inline-block;
    vertical-align: middle;
    min-width: 300px;
    padding: 50px;
    background-color: transparentize(black, 0.5);
  }
}
.vc-container::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.section {
  position: relative;
  height: 500px;
  text-align: center;
  background-color: $neutral;
}

