body {
  padding: 0;
  margin: 0;
  color: #1A1A1A;
  font-family: 'Noto Serif', serif;
  line-height: 1.5;
  font-size: 14px; }

h1 {
  font-family: montserratbold, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 9px #000000; }

h2 {
  font-family: montserratbold, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #414042; }

h4 {
  font-family: montserratregular, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #414042; }

p {
  text-align: justify; }

p.center {
  text-align: center; }

.em {
  color: #FFED00; }

.blue-1 {
  background-color: #71B1CF; }

.blue-1-tp {
  background-color: rgba(19, 126, 176, 0.6); }

.header {
  color: #414042;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s; }
  .header .menu-item {
    display: none;
    padding: 5px; }
  .header .menu-item.logo-main {
    display: inline-block;
    width: 220px;
    height: auto;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

.header.mini {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 4px 0;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s; }
  .header.mini .menu-item {
    display: none;
    padding: 5px; }
  .header.mini .menu-item.logo-main {
    display: inline-block;
    width: 150px; }

.splash-fullscreen-fixed {
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center; }

.splash-fullscreen-fixed.vc-container::before {
  height: 100%; }

.splash-fullscreen {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center; }

.splash-fullscreen.vc-container::before {
  height: 100%; }

.vc-container img.bg, .vc-container video.bg {
  height: inherit;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 0;
  margin: auto;
  transform: translate(-50%, 0);
  z-index: -1; }
.vc-container .vc-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: 50px 0;
  z-index: 5; }
  .vc-container .vc-content h2, .vc-container .vc-content h3 {
    margin-top: 0; }
.vc-container .vc-blurb {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 60%;
  max-height: 80%;
  overflow: hidden;
  padding: 50px;
  background-color: #BBBBBB; }
  .vc-container .vc-blurb h2, .vc-container .vc-blurb h3 {
    margin-top: 0; }

.vc-container::before {
  content: '';
  display: inline-block;
  height: 650px;
  vertical-align: middle; }

.section {
  position: relative;
  min-height: 650px;
  text-align: center;
  background-color: #FFFFFF; }

.skewed-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewY(3deg);
  z-index: 2; }

.skewed-bg-reverse {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: bottom right;
  z-index: 2; }

.column {
  display: inline-block;
  max-width: 40%;
  padding: 0 3%; }

.column-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 100%; }
  .column-container .column {
    padding: 10px;
    flex-basis: 10px;
    flex-grow: 1;
    text-align: left;
    max-width: 100%; }
  .column-container .column.center {
    text-align: center; }

.services-icon {
  width: 100px;
  height: auto; }

.footer {
  background-color: #414042;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  overflow: hidden; }
  .footer .footer-spacer {
    height: 260px; }
  .footer .footer-body {
    position: fixed;
    bottom: 60px;
    height: 180px;
    width: 90%;
    padding: 0 5%; }
    .footer .footer-body h4 {
      color: #FFFFFF; }
    .footer .footer-body .column-container {
      flex-direction: row; }
      .footer .footer-body .column-container .column:nth-of-type(n+2) {
        display: none;
        text-align: center; }
      .footer .footer-body .column-container .column:last-of-type {
        display: inline-block;
        text-align: right; }

.footer-banner {
  width: 100%;
  background-color: #323133;
  color: white;
  text-align: right;
  font-family: montserratultra_light, sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 0; }
  .footer-banner .content {
    padding: 5px 10px; }

@media (min-width: 720px) {
  h1 {
    font-size: 42px; }

  h2 {
    font-size: 36px; }

  .header {
    position: fixed; }
    .header .menu-item.logo-main {
      width: 300px; }

  .header.mini {
    padding: 10px 0; }
    .header.mini .menu-item.logo-main {
      width: 200px; }

  .column-container {
    flex-direction: row;
    align-items: flex-start; }
    .column-container .column {
      margin: 0 20px;
      padding: 10px; }

  .footer .footer-body {
    width: 86%;
    padding: 0 7%; }
    .footer .footer-body .column-container .column:nth-of-type(n+2) {
      display: inline-block; } }
@media (min-width: 1000px) {
  h1 {
    font-size: 48px; }

  h2 {
    font-size: 42px; }

  .header .menu-item.logo-main {
    width: 360px; }

  .header .menu-item, .header.mini .menu-item {
    display: inline;
    font-family: montserratregular;
    font-size: 16px;
    margin: 0 15px;
    min-width: 100px;
    text-align: center; }
  .header .link, .header.mini .link {
    position: relative;
    cursor: pointer; }
  .header .link::before, .header.mini .link::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #414042;
    content: '';
    transition: top 0.25s; }
  .header .link:hover::before, .header.mini .link:hover::before {
    top: 100%;
    opacity: 1;
    height: 2px; }

  .header.mini .link {
    font-size: 0.9em; }

  .services-icon {
    width: 130px;
    height: auto; }

  .footer .footer-body {
    width: 80%;
    padding: 0 10%; } }

/*# sourceMappingURL=index.css.map */
